<p>A new fund has been created in Efinity</p>

<p>The fund {{ name }} has been created and tasks assigned to your department. Please update these tasks as they progress and are completed</p>
<a href="{{`${url}/fund_pipeline_details/${fund_id}` }}">Click Here</a> to Review
<p>Thank You</p>
