<p>Hello {{name}}</p>

<p>You are receiving this email because a password reset has been request for the Efinity application. Please use the link below to reset your password </p>

<p><a href="{{ `${base_url}/${encodeURIComponent(token)}` }}">reset password</a></p>
