<p>Update to Sub Task</p>

<p>Sub Task {{sub_task_title}} on {{task_title}} for Fund {{fund_name}} has been updated to {{status}}</p>

<a href="{{`${url}/add_sub_tasks/${task_id}` }}">Click Here</a> to review

<p>Efinity Bot</p>
