<p>Task Update</p>

<p>You are receiving this email because a Task in Efinity has either been changed, assigned or reassigned to you. </p>

<p>Task {{task_title}} on Fund {{fund_name}}</p>

<p>The following changes have been made: {{changes}}</p>

<a href="{{`${url}/add_sub_tasks/${task_id}` }}">Click Here</a> to review

<P>Efinity Bot</P>

